#notedisplay-container{
    border : 1px solid rgb(111, 111, 111);
    
    height: 50vh;
    width : 67%;
    position: fixed;
    top : 50%;
    left : 33.3%;
    /* padding: 10px; */
}

#note-preview-container{
    background-color: rgb(69, 69, 69);
    max-width: 100%;
    min-width: 20%;
    height : 100%;
    padding: 10px;
    /* border-radius: 25px; */
    color : white;
}

#note-preview{
    border : 2px dotted white;
    max-width: 100%;
    min-width: 20%;
    height : 80%;
    min-height: 20%;
    padding: 10px;
    border-radius: 25px;
    color : white;
}