#sidebar-container{
    border : 3px solid rgb(255, 0, 0);
}

#sidebar-title{
  border: 3px solid black;
  background-color: #ffffff;
  position : fixed;
  top : 0;
  left: 0;
  width : 27.5%;
  height: 15vh;
}
.sidebar-note-container{
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  margin : 25px;
  box-shadow: 3px 3px 3px rgb(185, 185, 185);
  position : relative ;
  top : 15vh;
  z-index: -1;
}

.sidebar-note-title{
  background-color: rgb(255, 124, 124);
  color : white;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.sidebar-note-excerpt{
  background-color: #ffffff;
  color : rgb(0, 0, 0);
  padding: 10px;
}